dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-extensions==0.0.31
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-User==1.0.2.2
Flask-Admin==1.5.7
Flask-Migrate==2.5.3
email-validator==1.1.2
numpy==1.19.4
humanize==3.1.0