.table-button {
    border: none;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
}

.table-cell {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.hour-cell {
    width: 100%;
}
